.topnav {
  background-color: #446CB3;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.topnav a,
.topnav button {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.topnav a:hover,
.topnav button:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active,
.topnav button.active {
  background-color: #04AA6D;
  color: white;
}

.main-container {
  min-height: 100vh;
  margin-top: 20px;
  position: relative;
}

.text-blue{
  color: #446CB3;
}

:focus {
  outline: none;
}

.input-container {
  width: 800px;
  display: flex;
  width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.input-container .input-group{
  width: 650px;
}

.input-container > * {
  margin: 5px;
}